<h1>Request a lecture</h1>
<%= simple_form_for [@professional, @lecture] do |f| %>
  <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :message %>
  <%= f.association :class_room, collection: current_user.class_rooms %>
  <%= f.submit :Request, class: "btn btn-primary" %>
<% end %>
