<!-- Find professionals header -->
<div class="banner-short" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <h2 class="card-title"><%= @lecture.name %></h2>
</div>
<!-- VIDEO -->
<div style="width: 100%;">
  <!-- <div id="preview"> -->
  <!-- <p class="instructions">Hello Beautiful</p> -->
  <!-- <div id="remote-media"></div> -->
  <!-- </div> -->
  <!-- <div id="controls">
      <div id="room-controls" data-room-name=<%#= @lecture.name %> > -->
  <!-- <p class="instructions">Room Name:</p> -->
  <!-- <input id="room-name" type="text" placeholder="Enter a room name" /> -->
  <!-- <button id="button-preview">Preview My Camera</button> -->
  <!--     <button id="button-join">Start lecture</button>
        <button id="button-leave">Exit lecture</button> -->
  <!-- </div> -->
  <!-- <div id="log"></div> -->
  <!-- </div> -->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<div class="container">
  <!-- LECTURE CONTENT -->
  <div class="card mb-3" style="width: 100%; border-radius: 12px; box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1); padding: 50px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="card-body" style="width: 100%;">
          <img style="height: 220px !important; width: 220px !important" src="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" class="card-img rounded-circle " alt="profile picture"!important >
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h3 class="ml-4 mb-4" style="color: #7098FF">Upcoming Lesson</h3>
          <small class="ml-4 my-5 text-white px-3 py-2" style="border-radius: 15px; background-color:#58C2F1;">confirmed</small>
          <h5 class="mt-3 ml-4"><i class="fas fa-clock mr-3 mb-3"></i>Scheduled for:</h5>
          <h5 class="ml-4"><%= @lecture.start_time.strftime('%I:%M %p' ' on ' '%A, %B %e') %></h5>
          <!-- <p class="card-title"><%= @lecture.message %></p> -->
          <div class="d-flex justify-content-between align-items-end">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#linkToYoutube">Start lecture</button> -->
            <button class=" ml-4 video-button btn btn-primary" id="button-join" data-room-name=<%= @lecture.name %> >Start lecture</button>
            <!-- <button class="video-button btn btn-primary" id="button-leave">Exit lecture</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 100%; border-radius: 12px; box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1); padding: 50px;">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body" style="width: 100%;">
          <div class="form-wrapper" style="width: 100%; margin: 0 auto;">
            <%= simple_form_for [@lecture, @comment] do |f| %>
              <%= f.input :name_student %>
              <%= f.input :content, as: :text, label: :Question %>
              <%= f.submit :Post, class: "btn btn-primary", id: "btn-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 100%; border-radius: 12px; box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1); padding: 50px;">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body" style="width: 100%;">
          <h4>Q&A</h4>
          <% @lecture.comments.each do |c| %>
            <p class="font-weight-bold mt-4"><%= c.name_student %> <small><%= c.updated_at.strftime('%b %e, %l:%M %p') %></small></p>
            <p class="border-bottom"><%= c.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <!-- Video JS -->
  <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="//media.twiliocdn.com/sdk/js/video/releases/1.14.0/twilio-video.js"></script>
  <%= javascript_pack_tag 'video' %>
<% end %>
<section class="modal">
  <div id="remote-media"></div>
  <div id="local-media"></div>
  <button class="close-video btn btn-outline-light">Finish lecture</button>
</section>