<!-- Find professionals header -->
<div class="banner-short" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <h2 class="card-title"><%= @lecture.name %></h2>
</div>

<!-- VIDEO -->
<div id="remote-media"></div>
<div id="controls">
  <div id="preview">
    <p class="instructions">Hello Beautiful</p>
    <div id="local-media"></div>
    <button id="button-preview">Preview My Camera</button>
  </div>
  <div id="room-controls">
    <p class="instructions">Room Name:</p>
    <input id="room-name" type="text" placeholder="Enter a room name" />
    <button id="button-join">Join Room</button>
    <button id="button-leave">Leave Room</button>
  </div>
  <div id="log"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>



<!-- LECTURE CONTENT -->
<div class="container mb-4">
  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="card-body" style="width: 100%;">
          <img style="height: 220px !important; width: 220px !important" src="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" class="card-img rounded-circle " alt="profile picture"!important >
        </div>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h4>Upcoming Lesson</h4>
          <small class="text-white px-1 mb-5 rounded bg-info">confirmed</small>
          <h5 class="card-text mt-3">
            <i class="fas fa-clock mr-3 mb-3"></i><strong> Scheduled for:</strong> <%= @lecture.start_time.strftime('%I :%M %p' ' on ' '%A, %B %e') %></h5>
          <p class="card-title"><%= @lecture.message %></p>
          <div class="d-flex justify-content-between align-items-end">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#linkToYoutube">Access Lesson</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body" style="width: 100%;">
          <div class="form-wrapper" style="width: 100%; margin: 0 auto;">
            <%= simple_form_for :search, method: "get" do |f| %>
              <%= f.input :Comment, :as => :text %>
              <%= f.submit :Post, class: "btn btn-primary", id: "btn-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


<% content_for :after_js do %>
  <!-- Video JS -->
  <script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="//media.twiliocdn.com/sdk/js/video/releases/1.14.0/twilio-video.js"></script>

  <%= javascript_pack_tag 'video' %>
<% end %>
