<!-- Find professionals header -->
<div class="banner-short" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <h2>Find Professionals</h2>
</div>
<!-- dropdown to pick category -->
<div class="container">
  <h3>Specify your search</h3>
  <div class="flex">
    <div class="filter-list">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Category
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <input class="form-control" id="myInput" type="text" placeholder="Pick from list">
          <li data-tags='game design'><a href="#">Game Design</a></li>
          <li data-tags='backend development'><a href="#">Backend Development</a></li>
          <li data-tags='frontend development'><a href="#">Frontend Development</a></li>
        </ul>
      </div>
    </div>
    <!-- script for picking category -->
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
    <!-- Display professionals -->
    <% @professionals.each do |pro| %>
      <div class="container">
        <div class="card-professional">
          <div class="card-professional-content">
            <h4><%= pro.user.first_name %> <%= pro.user.last_name %></h4>
            <p>Company: <%= pro.company %></p>
            <p>Title: <%= pro.title %></p>
            <p>Expertise: <% pro.expertise_list.each do |e| %><%= e %>
              <% end %></p>
            <p>City: <%= pro.city %></p>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Send request</button>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Send a request</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div>
                  <!-- date picker -->
                  <div class="container">
                    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
                      <%= simple_form_for :search, method: "get" do |f| %>
                        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                        <%= f.input :text %>
                        <%= f.button :submit, "Set filter", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" >Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
