<div class="landingpage">
  <div class="banner-gray" style="background-image: linear-gradient(rgba(196,196,196,1),rgba(196,196,196,1))">
    <div class="container">
      <div class="logo">
        <%= image_tag "skilltransfer.png", alt: "Skilltransfer_logo"%>
      </div>
      <ul class="nav justify-content-end">
        <li>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">For teachers</a>
        </li>
        <li>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">For Professionals</a>
        </li>
        <li class="btn-ghost">
          <a class="nav-link" href="#">Sign in</a>
        </li>
      </ul>
      <div class="text-left">
        <h1 class="word-white">Share your skills for a better good</h1>
      </div>
      <a class="btn-flat" href="#">Sign up as professional</a>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag"professionals.png", alt: "professional"%>
    <div class="card-product-infos">
      <h2>Share your experiences, change others' lifes</h2>
      <p>Obtain personal satisfaction from making a difference to the career development of the others. Enhance your people skills such as leadership, interpersonal skills and communication.</p>
    </div>
  </div>
  <div class="banner-gray" style="background-image: linear-gradient(rgba(196,196,196,1),rgba(196,196,196,1))">
    <div class="container">
      <ul class=inline-list>
        <li class= "img-companies">
          <%= image_tag "logo.png", alt: "Company_logo" %>
        </li>
        <!-- <li class= "img-companies">
        <%= image_tag "benz.png", alt: "Company_logo"%>
      </li> -->
        <!-- <li class= "img-companies">
          <%= image_tag "boeing.png", alt: "Company_logo"%>
        </li> -->
        <!-- <li class= "img-companies">
        <%= image_tag "ge.png", alt: "Company_logo"%>
      </li> -->
        <li class= "img-companies">
          <%= image_tag "apple.png", alt: "Company_logo"%>
        </li>
        <li class= "img-companies">
          <%= image_tag "ge.png", alt: "Company_logo"%>
        </li>
        <li class= "img-companies">
          <%= image_tag "benz.png", alt: "Company_logo"%>
        </li>
        <li class= "img-companies-boeing">
          <%= image_tag "boeing.png", alt: "Company_logo"%>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-product">
    <div class="card-product-infos">
      <ul class="nav justify-content-end">
        <li class="logo2">
          <%= image_tag "skilltransfer.png", alt: "Skilltransfer_logo"%>
        </li>
        <li>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">General</a>
        </li>
        <li>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Browse more</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ======= -->
<!-- <h2>Gerenal</h2>
      <a class="btn-link-small"href="#">Home page</a>
      <a class="btn-link-small"href="#">Sign in</a>
      <h2>Browse more</h2>
      <a class="btn-link-2" href="#">For Professionals</a> -->
<!-- <div class="banner-white"> -->
<!--  <div class="container">
       <div>
        <ul class="nav justify-content-end">
          <li>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Gerenal</a>
          </li>
          <li>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Browse more</a>
          </li>
        </ul>
      <h2>Gerenal</h2>
      <a class="btn-link-small"href="#">Home page</a>
      <a class="btn-link-small"href="#">Sign in</a>
      <h2>Browse more</h2>
      <a class="btn-link-2" href="#">For Professionals</a>
    </div> -->
<!-- </div> -->