<div class="banner-profile">
  <div class="container d-flex align-items-center">
    <img src=<%= current_user.profile_picture_url %> alt="Avatar" class="avatar-large mr-5">
    <div class="text-white">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h3><%= @teacher.title %></h3>
      <p><%= @user.email %></p>
      <p><%= @teacher.school %></p>
    </div>
  </div>
</div>
<div class="container">
  <!-- TAB BARS -->

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#classrooms">Classrooms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#lectures">Lectures</a>
  </li>
</ul>

<!--   <ul class="nav nav-tabs mb-3">
    <li class="li-tags" class="active"><a data-toggle="tab" href="#classrooms">Classrooms</a></li>
    <li class="li-tags"><a data-toggle="tab" href="#lectures">Lectures</a></li>
  </ul> -->
  <div class="tab-content">
    <!-- TAB 1 CLASSROOMS -->
    <div id="classrooms" class="tab-pane fade in active">
      <!-- <h5>You don’t have any class rooms yet. Create your first one.</h5> -->
      <div class="container">
        <!-- CLASS CARD -->

        <div class="row">
          <% @user.class_rooms.each do |cr| %>

            <div class="col-12 col-md-4">
              <div class="card my-5" style="width: 18rem;">
                <img src=<%= cr.picture_url %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= cr.name %></h5>
                    <p class="m-0 text-muted">Interests</p>
                    <% cr.interest_list.each do |i| %>
                      <small class="text-white px-1 mr-1 rounded bg-info"><%= i %></small>
                    <% end %>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <% if cr.lectures.empty? %>
                      No lecture scheduled
                    <% else %>
                      Next Lecture
                      <p class="m-0"><%= cr.lectures.first.start_time.strftime('%b %e, %l:%M %p') %></p>
                      <p class="m-0">with: <%= cr.lectures.first.professional.company %></p>
                    <% end %>
                  </li>
                </ul>
                <div class="card-body">
                  <a><%= link_to 'Schedule a lecture', professionals_path, :class=>"card-link" %></a>
                  <!-- <a href="#" class="card-link" data-toggle="modal" data-target="#myModal">Schedule a lecture</a> -->
                </div>
              </div>
            </div>

          <% end %>
        </div>


        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create a new classroom</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

                      <!-- Modal content-->

            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Create classroom</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <%= simple_form_for [@class_room.teacher, @class_room] do |f| %>
                  <%= f.input :name %>
                  <%= f.input :description %>
                  <%= f.input :picture_url %>
                  <%= f.submit "Create Classroom", class: "btn btn-primary ml-2" %>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TAB 2 LECTURES -->
    <div id="lectures" class="tab-pane fade">
      <div class="container">
        <!-- LECTURE CARD -->
        <% @user.class_rooms.each do |cr| %>
          <% cr.lectures.each do |l| %>





    <div class="card mb-3" style="width: 80%;">
      <div class="row no-gutters">
        <div class="col-md-2">
          <div class="card-body">
            <img src=<%= pro.user.profile_picture_url %> class="card-img rounded-circle" alt="profile picture">
          </div>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title"><%= pro.user.first_name %> <%= pro.user.last_name %></h4>
            <h5 class="card-text"><i class="fas fa-building mr-3"></i><%= pro.company %></h5>
            <p class="card-text text-muted"><%= pro.title %></p>
            <div class="d-flex justify-content-between align-items-end">
              <p class="card-text"><i class="fas fa-tag"></i>
                <% pro.expertise_list.each do |e| %>
                  <small class="text-white px-1 mx-1 rounded bg-info"><%= e %></small>
                <% end %>
              </p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Send request</button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Send a request</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div>
                  <!-- date picker -->
                  <div class="container">
                    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
                      <%= simple_form_for :search, method: "get" do |f| %>
                        <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                        <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
                        <%= f.input :text %>
                        <%= f.submit :Request, class: "btn btn-primary" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" >Submit</button>
            </div>
          </div>

        </div>
      </div>
    </div>




            <div class="card-classroom">
              <!-- <img src=<%= cr.picture_url %> class="avatar-large"/> -->
              <div class="card-classroom-content">
                <h3>Lecture</h3>
                <h4><%= l.name %></h4>
                <h4><%= l.professional.company %></h4>
                <h4><%= l.professional.user.first_name %> <%= l.professional.user.last_name %></h4>
                <h4><%= l.professional.title %></h4>
              </div>
              <div class="card-classroom-content">
                <h4>Time</h4>
                <p><%= l.start_time.strftime('%b %e, %l:%M %p') %></p>
              </div>
              <a><%= link_to 'View lecture', lecture_path(l), :class=>"btn btn-primary ml-2" %></a>
            </div>




          <% end %>
        <% end %>
      </div>





    </div>
  </div>
</div>
