<div class="landingpage">
  <div class="banner-gray" style="background-image: linear-gradient(rgba(196,196,196,1),rgba(196,196,196,1))">
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "skilltransfer.png", alt: "Skilltransfer_logo"%>
        <% end %>
      </div>
      <ul class="nav justify-content-end">
        <div class="nav-link enable" tabindex="-1" aria-disabled="true">
          <%= link_to "For Teachers", teacher_info_path %>
        </div>
      </li>
      <li>
        <%= link_to "For Professionals", professional_info_path, class: "nav-link enable" %>
      </li>
      <li class="btn-ghost">
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
    <div class="text-left">
      <h1 class="word-white">We connect skilled professionals with
        schools and students in needs</h1>
    </div>
    <a class="btn-flat-page" href="#">Sign up as teacher</a>
  </div>
</div>
<div class="card-product-page">
  <img src="https://www.usnews.com/dims4/USNEWS/72480d8/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fcom-usnews-beam-media.s3.amazonaws.com%2F95%2Fd4%2F14edd661473e86b156b58530c1cd%2F141003-teacher-editorial.jpg">
  <div class="card-product-page-infos">
    <h2>Help your students
      seek for better career options</h2>
    <p>Help students to connect with professionals to discover the world of work, such as industry requirements, opportunities, development paths and limitations.</p>
  </div>
</div>
<div class="banner-gray" style="background-image: linear-gradient(rgba(196,196,196,1),rgba(196,196,196,1))">
  <div class="container">
    <ul class=inline-list-teacher>
      <li class= "img-schools">
        <%= image_tag "highschool1.png", alt: "Highschool_logo" %>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool5.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool6.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool7.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool8.png", alt: "Highschool_logo"%>
      </li>
    </ul>
  </div>
</div>
<div class="banner-white">
  <div class="card-product-landing-logo">
    <div class="card-product-landing-infos-logo landing-page-footer d-flex justify-content-start">
      <%= image_tag "skilltransfer.png", alt: "Skilltransfer_logo", :class => "logo3" %>
      <div class="footer-column d-flex flex-column">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">General</a>
        <%= link_to "Homepage", root_path , class: "nav-link"%>
        <% if user_signed_in? %>
          <%= link_to "My profile", user_path(current_user), class: "nav-link enable" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
      <div class="footer-column d-flex flex-column">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Browse more</a>
        <%= link_to "For professionals", professional_info_path , class: "nav-link"%>
        <!--  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">For Teachers</a> -->
        <%= link_to "For teachers", teacher_info_path , class: "nav-link"%>
      </div>
    </div>
  </div>
</div>