<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.professionals.empty? %>
          <li class="nav-item">
            <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Profile", p_dashboard_path(current_user), class: "nav-link" %>
          </li>
        <% end %>
      <% end %>
      <!-- <li><%= link_to "For teachers", teacher_info_path , class: "nav-link"%>
      </li>
      <li><%= link_to "For professionals", professional_info_path , class: "nav-link"%>
      </li> -->
      <div>
        <% if user_signed_in? %>
          <% if current_user.professionals.empty? %>
            <li class="nav-item">
              <%= link_to "Find Professionals", professionals_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Messages", "#", class: "nav-link" %>
            </li>
          <% end %>
        </div>
        <!-- ========= -->
        <!-- changed -->
        <li class="nav-item dropdown">
          <% if current_user.profile_picture_url != nil %>
            <%= image_tag current_user.profile_picture_url, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <!-- ======== -->
            <%= link_to "For teachers", teacher_info_path , class: "dropdown-item"%>
            <%= link_to "For professionals", professional_info_path , class: "dropdown-item"%>
            <!-- ======== -->
            <!--  <div>
            <% if user_signed_in? %>
              <% if current_user.professionals.empty? %>
                <%= link_to "Find Professionals", professionals_path, class: "dropdown-item" %>
              <% end %>
            <% end %>
          </div> -->
            <!-- ======== -->
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="banner-blue">
  <div class="infobox description">
    <!-- <ul class="nav justify-content-center"> -->
    <div class="text-left">
      <h1 class="word-white">Help your students seek better career options</h1>
      <a class="btn-flat-page" href="#">Sign up as teacher</a>
    </div>
  </div>
</div>
<div class="card-product-page">
  <%= image_tag"teacher.jpeg", alt: "teacher"%>
  <div class="card-product-page-infos">
    <h2>Help your students
      seek better career options</h2>
    <p>Help students to connect with professionals to discover the world of work, such as industry requirements, opportunities, development paths and limitations.</p>
  </div>
</div>
<div class="banner-gray">
  <div class="imagbox">
    <ul class="inline-list-teacher">
      <li class= "img-schools">
        <%= image_tag "highschool1.png", alt: "Highschool_logo" %>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool5.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool6.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool7.png", alt: "Highschool_logo"%>
      </li>
      <li class= "img-schools">
        <%= image_tag "highschool8.png", alt: "Highschool_logo"%>
      </li>
    </ul>
  </div>
</div>
<!--  ============== -->
<div class="notification-teachers">
  <div class="testimonials">
    <%= image_tag "kelvin.png", alt: "Avatar", :class => "avatar-large landing"%>
  </div>
  <div class="testimonials-name">
    <h3><strong>Kelvin L.</strong></h3>
    <p><strong>Biology Teacher</strong></p>
    <p>Flower Bridge High School</p>
  </div>
  <div class="testimonials-content">
    <p>Skill Transfer has been instrumental in getting my students to see the big picture of how the most minute details of what we learn in lecture are actually connected to how their professional careers will pan out 20, 30 even 40 years after they leave my classroom.</p>
  </div>
</div>
<!--  ============== -->
<div class="banner-white">
  <div class="card-product-landing-logo">
    <div class="card-product-landing-infos-logo landing-page-footer d-flex justify-content-start">
      <%= image_tag "skilltransfer.png", alt: "Skilltransfer_logo", :class => "logo3" %>
      <div class="footer-column d-flex flex-column">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">General</a>
        <%= link_to "Homepage", root_path , class: "nav-link"%>
        <% if user_signed_in? %>
          <%= link_to "My profile", user_path(current_user), class: "nav-link enable" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        <% end %>
      </div>
      <div class="footer-column d-flex flex-column">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Browse more</a>
        <%= link_to "For professionals", professional_info_path , class: "nav-link"%>
        <!--  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">For Teachers</a> -->
        <%= link_to "For teachers", teacher_info_path , class: "nav-link"%>
      </div>
    </div>
  </div>
</div>