<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon2.png') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skilltransfer</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <!-- CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- NEW! -->
    <!-- JS -->
    <%#= stylesheet_pack_tag 'application', media: 'all' %>
      <html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Document</title>
        </head>
        <body>
        </body>
      </html>
    </head>
    <body>
      <%= render 'shared/navbar' unless @disable_nav %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_pack_tag 'application' %>
      <%= yield :after_js %>
      <%#= javascript_pack_tag 'application' %>
    </body>
  </html>
